{% extends 'master.html' %}
{% load static %}
{% block 'content' %}
<div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>our product</h2>
                </div>
            </div>
        </div>
    </div>

</div>
  <!-- our product -->
  <div class="product">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="title">
                 
                 <span>We package the products with best services to make you a happy customer.</span>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="product-bg">
     <div class="product-bg-white">
        <div class="container">
           <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="product-box">
                    <i><img src="{% static '/images/download (2).jpg'%}"/></i>
                    <h3>Maxpower Santronic Pv 5000</h3>
                    <span>315,000 Rs</span>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="product-box">
                    <i><img src="{% static '/images/download (3).jpg'%}"/></i>
                    <h3>Maxpower Santronic Pv 10000</h3>
                    <span>620,000 Rs</span>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="product-box">
                    <i><img src="{% static '/images/download (4).jpg'%}"/></i>
                    <h3>LongLife 6KVA Pv 7000</h3>
                    <span>215,000</span>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="product-box">
                    <i><img src="{% static '/images/Pro.jpg'%}"/></i>
                    <h3>Long Life Ultra KVA</h3>
                    <span>275,000</span>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="product-box">
                    <i><img src="{% static '/images/download (1).jpg'%}"/></i>
                    <h3>Maxpower 6KVA Pv 7000</h3>
                    <span>230,000</span>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="product-box">
                    <i><img src="{% static '/images/download (5).jpg'%}"/></i>
                    <h3>Infinix Blaze 3KVA Pv 4000</h3>
                    <span>125,000</span>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="product-box">
                    <i><img src="{% static '/images/download (7).jpg'%}"/></i>
                    <h3>Maxpower Sunbridge 2000</h3>
                    <span>40,000</span>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="product-box">
                    <i><img src="{% static '/images/download (8).jpg'%}"/></i>
                    <h3>Maxpower Hybrid 8KVA </h3>
                    <span>620,000</span>
                 </div>
              </div>
             
             
             
              
              </div>
           </div>
     </div>
{% endblock %}